<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <a [routerLink]="['']" class="w3-bar-item"><img src="https://firebasestorage.googleapis.com/v0/b/myweb-e2436.appspot.com/o/main-logo.png?alt=media&token=73be47fa-5d21-4a7b-8bdc-ddff6cf42b55" ></a>
  </div>
  <div class="w3-bar w3-theme">
    <a [routerLink]="['signup']" class="w3-bar-item w3-button w3-padding-16">Alta en línea</a>
    <a [routerLink]="['login']" class="w3-bar-item w3-button w3-padding-16">Iniciar sesión</a>
    <a  class="w3-bar-item w3-button w3-padding-16" (click)="cerrarSesion()">deslog</a>
    <input class="w3-input" type="text"  [(ngModel)]="busqueda">
    <button (click)="buscar()">Bus</button>
  </div>
</header>


<router-outlet />
